[2019-12-20 15:33] brcox90 opened #1 "Update Kanban Board"
Queries have been loaded into the Projects tab (based on what's in the OneNote). Please update the status of the queries.

If not started - put in planned
If built, but not tested - put in built
If built and being tested - put in testing
If completed (passed testing) - put in completed.

*Using this tool will be part  of the training being hold on organization/documentation for expansion

[2019-12-20 19:42] #1 closed

[2019-12-20 19:43] brcox90 commented on #1
Documentation completed

[2020-01-03 14:26] qdd8jtl opened #2 "Error Message When Selecting Status"
Daily Verification - Source CWT, ID 15, Assigned To Pawel

All tracking numbers are X's.  Marked all as Invalid, then selected 'Can't Verify' for the Result.  Error message appears on select and when hitting OK, the front-end crashes.
[Interim-StatusSelect.docx](https://github.com/brcox90/CIMMigrationProject/files/4019414/Interim-StatusSelect.docx)

[2020-01-03 14:42] qdd8jtl commented on #2
The front end crashes consistently since the issue.

[2020-01-03 20:24] Pawel062 opened #3 "Error Message when opening database"
Receive error message that columns are missing in SQL server when you open interim database and open any verification.

[2020-01-06 21:25] #3 closed

[2020-01-06 21:29] #2 closed

[2020-01-06 21:39] qdd8jtl opened #4 "Status Updates Do Not Apply For Individual Tracking #'s"
Source - MAN4, ID - 693, Assigned to - Pawel, Alt Auditor - Dom

- Marked tracking # 1ZAR97331438787108 as Audit

- Then marked tracking number 'X' below it as Invalid, but Audit status gets wiped out after selection.

- When selecting a Result, the last status marked also gets wiped out.
[Interim-StatusSelect-Gone.docx](https://github.com/brcox90/CIMMigrationProject/files/4027907/Interim-StatusSe

[2020-01-07 02:46] mikey2695 commented on #4
Caused because MAN4 - US does not exist in the INTERIM_HISTORY table. Need to make sure all sources with complete descriptions are added for both countries.

[2020-01-07 22:16] qdd8jtl opened #5 "Error Message Appears When Accessing Interim"
When clicking Interim Database from the main menu, a pop-up with the message 'Error:Invalid column name 'INTERIM_CRITERIA_STATUS.' appears before the Interim Database is loaded.

This message also appears any time anything else is clicked on the screen.
[Interim-ErrorMessage.docx](https://github.com/brcox90/CIMMigrationProject/files/4032721/Interim-ErrorMessage.docx)

[2020-01-08 04:16] mikey2695 commented on #5
Newest version had not been published, all done now. (version is 1.0.0.211)

[2020-01-08 13:06] qdd8jtl commented on #5
Just downloaded the latest version.  The database crashes when clicking on Interim Database.

[2020-01-08 13:37] Pawel062 commented on #5
I get a crash when clicking on interim and then clicking daily.

[2020-01-08 14:15] mikey2695 commented on #5
Taken care of. When daily is clicked, if no scenarios have been imported for today's date, error check has been implemented.

[2020-01-08 14:19] qdd8jtl commented on #5
Looks good!  Thank you

[2020-01-08 14:19] #5 closed

[2020-01-13 19:40] #4 closed

[2020-01-14 04:35] milleniumchilld opened #6 "EDI/Billing Navigation Menu"
[new mockups.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/4057346/new.mockups.docx)

[2020-01-14 04:47] milleniumchilld commented on #6
The attached word document is the revised mock ups for the EDI/Billing dashboard. The user will be greeted with the welcome screen and the UPS symbol will be displayed as a placeholder until a dashboard menu option is selected. Dashboard menu is also collapsible.

Page 1: Welcome Screen

Page 2: EDI option has been selected and all relevant databases are displayed

Page 3: Billing option has been

[2020-01-14 04:48] milleniumchilld commented on #6
Please feel free to give your thoughts...

[2020-01-14 13:29] qdd8jtl commented on #6
I love the idea of the dashboard on the side!  Especially since there will be more databases added eventually.  Instead of the buttons appearing, what do you guys think of having expandable and collapsible items.  i.e. - click on Billing and it expands a listing of Billing systems, then click on the Billing system, and it expands to list all the relevant databases for that system.  Same thing for

[2020-01-14 13:37] milleniumchilld commented on #6
That is also an option, I will do another mock up with the expandable and collapsible items and see what everyone thinks.  Thank you

[2020-01-14 13:37] NickD0w commented on #6
I agree, that's the best, cleanest approach. I would envision something like the UPS intranet site guide...

![image](https://user-images.githubusercontent.com/59174086/72348521-9a56b200-36a8-11ea-890c-0f15dc760270.png)

But with the drop down ability to hide and pin Jan-Marie said, that would be perfect.
No need for big buttons, hyperlinks will be cleaner in the long run.

[2020-01-14 13:53] Pawel062 commented on #6
Only thing with hyperlinks is ability to use your finger to click on them. We either have to make the text big or add spacing. We can brainstorm ideas though and also see how touch friendly the team wants the menu to be.

[2020-01-14 13:59] NickD0w commented on #6
Another factor to consider is coding complexity to build and maintain.

Mike - thoughts on what is easier from a coding stances, initially and future maintenance?

[2020-01-14 14:49] milleniumchilld commented on #6
[new mockups.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/4059692/new.mockups.docx)

I revised the mockups with the feedback given by everyone, thank you. I also added a reports section, not sure if it is needed, let me know what you think.

[2020-01-14 15:48] mikey2695 commented on #6
It's all personal preference, from a coding perspective there is no difference in terms of complexity. I like it though, and it's a good way to keep the menu nice and neat as we continue to add databases.

[2020-01-14 16:10] mikey2695 opened #7 "Strategic Task Entry issue in Issues Database"
Strategic Task is not able to be marked as a process improvement.
Mike Fig will work on this.

[2020-01-14 16:48] mikey2695 commented on #7
This has now been fixed.

[2020-01-14 17:04] NickD0w commented on #7
Looking to verify, I went to Add Task from Strategic Tasks menu,
See this...
![image](https://user-images.githubusercontent.com/59174086/72365223-cdf40500-36c5-11ea-8ce1-ea885ccc9cee.png)

 Use the Drop Down to select Strategic Task, the form changes, and get this...
![image](https://user-images.githubusercontent.com/59174086/72364948-5920cb00-36c5-11ea-90ba-96f6704b96ee.png)

Not seeing the Proce

[2020-01-14 17:29] mikey2695 commented on #7
Seems to be working on my end Nick. Make sure you're on version 2.0.0.2 (you'll see the version number on the login screen).

[2020-01-14 17:32] NickD0w commented on #7
Yep, that was it, needed a recycle... Looks Good To Go! Thanks Mike!
![image](https://user-images.githubusercontent.com/59174086/72367265-ecf49600-36c9-11ea-9a26-24220b621b57.png)

[2020-01-14 19:59] #7 closed

[2020-01-15 18:42] mikey2695 commented on #6
Hey Brandon,

Pawel mentioned to me that you were trying to do a hamburger menu for the menu screen. I believe something like this may be what you were looking for:

<img width="205" alt="Capture" src="https://user-images.githubusercontent.com/52287707/72461235-8e4c1c80-379c-11ea-8ea2-dc7b48435f41.PNG">

Here's the code. The Expander control is very useful when it comes to menus.

<img width="644"

[2020-01-15 18:55] mikey2695 commented on #6
Also dropping this down here for everyone...Here is the documentation for the System.Windows.Controls Namespace (so think of this as documentation for XAML design, which has classes, properties, methods, etc.)

https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls?view=netframework-4.8#classes

[2020-01-15 19:35] qdd8jtl opened #8 "Strategic Tasks Appear on the Manager Weekly Review"
During the Manager Weekly Review, Strategic Tasks were appearing on the list.  These are supposed to be excluded from the list, similar to BC's as they are approved and reviewed separately.

[Issues-StrategicTask-Weekly.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/4066971/Issues-StrategicTask-Weekly.docx)

[2020-01-15 19:53] qdd8jtl opened #9 "Owner is not populated for a Strategic Task Entered In by User"
BC/TI # 9459, System - EDI, Title - 'Include Mail Innovations in EDI PLD'

This item does not have an Owner populated and it is a mandatory field.  It does not look like the Owner field for Strategic Tasks functions the same as Issues/Defects/BC's where it is hard-coded based on the user.

- On Applications Weekly review Edit form, the owner is hard-coded

- On other forms, this is free-text and e

[2020-01-16 17:15] mikey2695 commented on #8
Team,

This has been fixed. I have not published the changes, however; this will be done on Monday as discussed in yesterday's meeting.

[2020-01-16 17:20] mikey2695 commented on #9
The reason the Owner field on a strategic task is not hard-coded is because a strategic task can have more than one person assigned to it.

We should come to an agreement as to what the convention should be in regards to the Owner field all across the board.

[2020-01-16 19:07] qdd8jtl commented on #9
I think Owner should be hard-coded by last name for consistency sake across the forms.  For Strategic Tasks, maybe we can have a team members field for those tasks that have more than one team member (or utilize the Supporting Details/Internal Notes to list).

- For My Talent, end of year reporting it threw off the numbers because we couldn't determine who originally entered in the item for the go

[2020-01-16 20:09] mikey2695 commented on #9
Understood. I think the team members field is the way to go, especially now that a lot of Strat Tasks are collaborative efforts rather than individual.

This change will go into effect, along with the updated version of the Weekly Review, on Monday.

[2020-01-17 13:22] qdd8jtl opened #10 "Database Crashes when BC is Entered Into New Issue Form"
The database closes and crashes as soon as Submit is clicked for a new BC that is being entered in.
Attachment has one BC that was entered successfully, and the second one that caused the crash.
- For Annual Benefit, commas were entered into the Annual Benefit field for the second screen shot.

- This impacts management's ability to enter in BC's.  Workaround for now is to utilize the item that wa

[2020-01-17 14:28] mikey2695 commented on #9
Appears to have been fixed. Will have team test this before putting out changes on Monday

[2020-01-17 15:20] mikey2695 commented on #10
The commas were indeed causing the error, because the decimal field in SQL is not equipped to handle commas. I have changed this. Commas are now handled in the C# backend before executing the query.
Will go in with rest of changes on Monday after testing.

[2020-01-17 21:08] qdd8jtl opened #11 "Database Crashes When Accessing Manager Review"
Issues Database crashes when clicking For Managers, then Manager Review.

[2020-01-17 21:20] mikey2695 commented on #11
Fixed; problem was on the SQL side, accidently changed the data type of the ManagerReview column.

[2020-01-17 21:20] #11 closed

[2020-01-21 17:24] mikey2695 commented on #10
Changes are now in effect

[2020-01-21 17:24] #10 closed

[2020-01-21 17:24] mikey2695 commented on #9
Enhancement has been implemented

[2020-01-21 17:25] mikey2695 commented on #8
Change has been made, go to go for weekly meeting tomorrow (1/22)

[2020-01-21 17:25] #8 closed

[2020-01-21 19:46] Pawel062 opened #12 "Change how the Daily and Weekly forms are in current design."
2 propositions:

- 3 separate forms

- 1 form with tabs (similar in design to github) or radial buttons to choose between Weekday Daily, Saturday Daily, and Saturday Weekly scenarios. Please note: I checked the current database and all 3 types have 4 tracking numbers and the only variations are if there is a Saturday verification button AND what the bottom shows in terms of notes/comments. We can

[2020-01-21 19:48] Pawel062 opened #13 "New Design for Daily and Weekly forms"
The current forms have too much dead space so we need some ideas how to fill the space. We can discuss that here and have Sophia do a mockup for the new form or 3 new forms depending on what decide.

Also, we need to discuss if we need separate help comments or if they should be under the day of the week's comments. Please Note: The new help comments form with be same as the daily/weekly forms but

[2020-01-21 19:53] Pawel062 opened #14 "New tables architecture."
The current tables while good are a bit combersome to program around. I propose we redesign the tables so we have an import table, an assignments table, and a verifications table. This will make Mike's life easier and it will be easier for anyone else who will assist in the code. Proposition:

- Import table will strictly import the N97 and F97 files and only will add fields for CA/US, Daily/Weekl

[2020-01-21 20:52] qdd8jtl commented on #12
There definitely needs to be 3 separate forms, but the design should remain the same across all 3.  The notes should be visible on both Daily and Saturday Daily forms since these are ultimately the same scenarios verified throughout the week.

For Saturday Daily and Saturday Weekly forms, these should only be visible to Supervisors and above.

[2020-01-21 21:22] mikey2695 opened #15 "EDI Database - Spliting Customer Table into a Products and Companies Table"
In the midst of building the EDI database, I have come to the realization that the customer table should be split into a company table and a product table. The reason for this is that a company can have many products, but a product only has one company. There is no reason to continue to fill out the "COMPANY_NAME" column over and over for the same company when adding to the customer table. My new

[2020-01-21 21:28] Pawel062 commented on #12
My idea for 1 form is more of a background template than anything. It will pull up 3 "seperate" forms but behind the scenes it will use 1 template for it as you mentioned. The 1 template makes it easier for problem solving while still separating the pages. It might be better if I explain it in person or debunk my idea if it wont work.

[2020-01-21 22:01] carrubba24 opened #16 "Wiki Navigation Critique & Improvements"
I went ahead and added the first step of organizing the pages in the wiki.

The Billing/EDI Additional Tasks Pages are now available by going to the Tasks page from the home screen.

UAD, InterimDB & IssuesDB are now available by going to the Projects page from home.

Let me know your thoughts!

[2020-01-22 12:50] NickD0w commented on #16
I like it. Good forward thinking.

[2020-01-22 13:06] milleniumchilld commented on #12
Morning everyone,

I was out of office yesterday so I did not get a chance to respond. I would like for us to discuss the changes in this week meeting if that is ok. So I can have a general idea of what is expected.

Sent from my iPhone

[2020-01-22 13:11] qdd8jtl commented on #12
Agreed!  If we are changing the design of the form and moving away from what Sophia originally mocked up, we need new mock ups.  Also, isn't Issue #13 a duplicate of this?

[2020-01-22 13:13] qdd8jtl commented on #16
Love the organization, Dom!  This will be huge for all of us.  Thanks for helping to get us on the right track.

[2020-01-22 13:19] Pawel062 commented on #12
this one I created for us to discuss how to change the 2 forms we have now into 1 or 3 and then #13 was created separately to brainstorm how to fill the dead space we have in the current design. I thought it is better to separate it so it is easier to keep up with which part of the topic we are discussing. We can definitely discuss this at our meeting Friday but I wanted to get some ideas out ther

[2020-01-22 13:22] qdd8jtl commented on #15
I like the idea, Mike.  Let's run it by the EDI team (if you haven't already done so) at our meeting to make sure they are OK with the changes.

[2020-01-22 14:02] Pawel062 commented on #12
After discussing this with Jan-Marie, we will move forward with 1 form and tabs to switch between the 3 variations. We can move to the design then.

Sophia can you take the current form and mockup a evolution of it:
--Jan-Marie suggested keeping the bold items still at the top (title, source, country, assigned to, alt auditor, description, and id) but add 3 tabs above it similar to how gethub has

[2020-01-22 14:03] Pawel062 commented on #13
closed as we will move the design discussion to the other issue where we discussed 1 or 3 forms.

[2020-01-22 14:03] #13 closed

[2020-01-22 14:07] Pawel062 commented on #14
Current tables:
[INTERIM_ASSIGNMENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INTERIM_CC] [nvarchar](255) NULL,
	[INTERIM_SOURCE] [nvarchar](255) NULL,
	[INTERIM_DAILY_ASSIGN] [nvarchar](255) NULL,
	[INTERIM_SAT_ASSIGN] [nvarchar](255) NULL,
	[INTERIM_ALT_ASSIGN] [nvarchar](255) NULL
[INTERIM_HISTORY](
	[INTERIM_SOURCE] [varchar](255) NULL,
	[INTERIM_DESCRIPTION] [varchar](255) NULL,
	[INTERIM_CRIT

[2020-01-22 14:18] Pawel062 commented on #14
Proposed new tables :
-[INTERIM_ASSIGNMENTS](
[ID] [int] IDENTITY(1,1) NOT NULL,
[INTERIM_CC] nvarchar NULL,
[INTERIM_SOURCE] nvarchar NULL,
[INTERIM_DAILY_ASSIGN] nvarchar NULL,
[INTERIM_SAT_DAILY_ASSIGN] nvarchar NULL,
[INTERIM_SAT_WEEKLY_ASSIGN] nvarchar NULL

-[INTERIM_VERIFICATIONS](
[INTERIM_SOURCE] varchar NULL,
[INTERIM_CC] varchar NULL,
[INTERIM_TYPE] varchar NULL,
[INTERIM_ALT_AUD] nvarc

[2020-01-22 15:16] qdd8jtl commented on #9
During the weekly review, there was one item which did not have the Owner field populated.
BC/TI# 1446153, System  FCB
[Issues-MissingOwner2.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/4097981/Issues-MissingOwner2.docx)

[2020-01-22 16:10] Pawel062 commented on #12
That is perfect!

[2020-01-22 18:11] qdd8jtl commented on #12
I like it!  Nice job.

[2020-01-22 18:35] mikey2695 commented on #9
This was opened on 1/15, and the changes went into effect on 1/20, which explains why this did not have the owner field filled.

[2020-01-22 19:41] #9 closed

[2020-01-23 18:55] qdd8jtl opened #17 "Strategic Task Listed in Aging Items Does Not Come Up On Main Menu Reminder"
A Strategic Task listed under Aging Items this week does not come up on reminder that pops up on the main menu that a user has Aging Items requiring an update.

Use Strategic Task with title 'Develop a Role-based Structure for ISPS' as an example.
Note - I will hold off on running the weekly aging task for now so this can be looked at.

[Issues-AgingItem.docx](https://github.com/CIMDBORG/CIMMigrat

[2020-01-23 19:06] NickD0w commented on #17
Not sure if it's related, just noticed a old issue I had in 400's (775585) would display in Weekly Review with Apps, but did not show in Prioritize By System, and also did not come up as an aging warning, but did populate on the aging report.

[2020-01-23 21:12] milleniumchilld commented on #15
I split the tables and do a mock up.

[2020-01-23 22:01] milleniumchilld commented on #15
Team, please see attached customer table and give me your thoughts.
[Customer Table.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/4105718/Customer.Table.docx)

[2020-01-23 22:12] JohnAlapatt commented on #15
Is it Necessary to have the address for all the customers?  If necessary, we should have a drop down for State and Country.

John Alapatt ** UPS EDI small Package ** 201 828 3649

Confidentiality Notice: This message is intended exclusively for the individual or entity to which it is addressed. This communication may contain information that is proprietary, privileged, confidential or otherwise le

[2020-01-24 19:14] #16 closed

[2020-01-24 19:18] #15 closed

[2020-01-24 19:19] #14 closed

[2020-01-24 19:21] #12 closed

[2020-01-24 21:03] mikey2695 commented on #17
Jan-Marie, the warning is supposed to show between 5 and 6 days since last update (before it actually becomes aging). After this, it does not show. Did it show between 5 and 6 days?

[2020-01-27 14:59] qdd8jtl commented on #17
It might have.  The problem is by the time the item should have appeared in aging between the 5-6 days, I would never have noticed because it carried over from the weekend.

I.E. - last status updated 01/13/20.  5-6 days would be January 18-19th.  I was actually off on January 20th so by the time I would have logged back in to the database, it would be past that time frame (but before I would have

[2020-01-27 15:08] qdd8jtl opened #18 "Add Sort to Manager Weekly Review"
For Manager/Supervisor Weekly Review, add the following sort below to allow those with multiple systems for easier review during the meeting:

- Sort by System

- Then Sort by User

[2020-01-27 20:46] NickD0w opened #19 "Issues DB - Add New Record - Planned Comp Date error"
When adding a new record and filling out the Planned Comp Date, receiving submission error:
![image](https://user-images.githubusercontent.com/59174086/73212003-538ea080-411b-11ea-9eee-ec60c2b55dc3.png)

![image](https://user-images.githubusercontent.com/59174086/73212035-63a68000-411b-11ea-83a2-7f1c2c440611.png)

Re-entering the New Record and leaving the Planned Comp date as default, Record subm

[2020-01-28 17:24] NickD0w opened #20 "Enhance Priority Number editing/updates"
Code that ability to update Priority Number from Table view.

Currently users must update the number in Issue Screen, hit submit and scroll to next issue to repeat the steps until all items updated.
Would be much more streamlined to be able to update from the System Search Table view.
Will also be simpler when needing to re-prioritize issues up or down the list as needed.

Might also consider codi

[2020-01-28 17:27] Pawel062 commented on #20
Great idea. I think I had the code for auto-renumber too. It should be this but replace date with the priority field:
Update Date_temp SET Date = Date + 1 WHERE SUBSTRING (Date,1,1) = 5 AND DATE > 500

[2020-01-28 17:33] qdd8jtl commented on #19
Work-around for the time being would be to utilize the 'Scheduled Implementation' status note update with the date in the note?

[2020-01-28 17:42] NickD0w commented on #19
That would work, or also for now I've discovered you can leave the default and update it once it's submitted.

 With that, I wouldn't consider the issue critical, just an added step to go back and update once the issue is created.

[2020-01-28 19:17] ellenculp opened #21 "User updates requested by Manager - no button to clear it once update is made?"
BC 200010.  Updates made on 1/23 - message still appears on Main Menu page.

[2020-01-28 19:54] mikey2695 opened #22 "EDI Database - Add Product Form Design"
This will be where the new Add Product Form mockup is added.

[2020-01-28 20:22] mikey2695 commented on #17
Working on this now. Hope to have a fix by tomorrow.

[2020-01-28 20:37] mikey2695 commented on #17
So I have an idea...
Would it be okay to leave the aging warning on even after an item becomes aging?
For instance...
At 5 days, a strategic task will prompt a warning. Even after it has become an aging item, the warning will still display in red at the top of the screen.
Let me know your thoughts...From a coding standpoint, this is the most effective solution, and I think on the business side it

[2020-01-28 20:38] qdd8jtl commented on #17
That's a great idea!  Will the message disappear once all aging updates have been made by a user?

[2020-01-28 20:52] mikey2695 commented on #19
Team,
This problem has been fixed. This was a result of a single missing quotation mark in SQL (shocker!).
I have decided to push this update now, as this is a problem that can prevent the team from submitting an issue into the database. No other changes have been made.

[2020-01-28 20:56] mikey2695 commented on #17
Yes it will.
I will make this change now and publish the change by Thursday so you can run aging.

[2020-01-28 20:59] milleniumchilld opened #23 "EDI Database Design Documents"
(https://github.com/CIMDBORG/CIMMigrationProject/files/4124537/EDI.Database.test.docx)

Team,

Please see attached EDI Database Mockups for your review and comments.

@CIMDBORG/edi

[2020-01-28 21:02] milleniumchilld commented on #22
Team,

Here is the Add Product Form

[Add Product Form.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/4124567/Add.Product.Form.docx)

[2020-01-28 21:27] mikey2695 commented on #17
Team,

This has solved. @CIM2AXM (Andrew) has tested this and it has worked. I will publish this change now.

[2020-01-28 21:32] mikey2695 commented on #17
On second thought, I will wait until tomorrow to push changes.
I would like to make sure the aging warning is gone after updates are made.

[2020-01-28 21:57] qdd8jtl commented on #17
Mike - I appreciate the quick turnaround for this.  To make sure we follow the same procedures, especially for version control, can you check with one of the approvers before deciding when to implement a change?  Between this issue and  #19, they could have been pushed tomorrow in one shot.  I'm re-opening this one until we can confirm the aging warning above.

Approvals should be run by myself, @

[2020-01-29 04:22] jgesualdo commented on #22
Looks Good. Couple of things .
1.  Can we ensure that the email addresses are linked to both the Contact Database and Reports. This way, we will not need to enter the customers email address twice, once in the add product screen and once in the contact database. We will need to link customers email addresses within our products to the contact database for our distribution lists for ER, and Reports

[2020-01-29 13:44] qdd8jtl opened #24 "Improve Accuracy for My Talent EOY Queries"
The My Talent End of Year queries need to be re-worked so that they are more accurate when it comes to reporting for end of year.  @mikey2695 - could you please provide @NickD0w the queries  and tables that are used to produce the information below?  I would like him to start taking a look at what's going on with them so I can work with him on making sure they are accurate for this year.

- % effe

[2020-01-29 14:37] mikey2695 commented on #21
Looking into this Ellen, thank you.

[2020-01-29 17:22] NickD0w commented on #19
I can confirm the fix Mike implemented has resolved the issue. Planned Comp Date can now be filled out on the initial issue submission.

[2020-01-29 18:44] mikey2695 commented on #21
This fix has been made and will be implemented after testing. The fix has come in the form of a refresh button on the Issues Database menu. This will clear all aging and manager update warnings after the updates have been made.
Pawel, I know you have the same problem presently and I would like you to test this out before I push the change. I will let you know where the test version can be accessed

[2020-01-29 19:09] mikey2695 commented on #17
Guys,

We can test this out in the test folder.
The path is  \\mornas2\CIM\Production\CIM Database Project

[2020-01-30 13:56] brcox90 opened #25 "Test Database Upload/Revision w. New Changes"
Wanted to open an issue to discuss this because while we need pages that have been updated/fixed to be uploaded in the test database so everything is current, we also need to discuss the process of uploading this test database.

The reason I bring this up is because, as the team know, I've been working on coding in the new menu for the database, and have been testing it to see if it's working up t

[2020-01-30 14:22] NickD0w commented on #25
Definitely a good issue to bring up, specially as more people will begin wanting to code. Following the GitHub process follow of Push/Pull/Merge requests and creating personal branches will keep this from happening.

Hi level process flow is like this:

Brandon makes a Pull Request, downloading an exact replica of everything locally to his machine.
Doing so creates a separate branch, the "Brandon-

[2020-01-30 14:32] qdd8jtl commented on #25
Great points, guys.  I know we discussed approvals and utilizing the Push/Pull Requests, but want to discuss this at our meeting tomorrow to make sure we start following this.  No matter how small the change, we need to make sure we follow a process here as we start moving forward.  We will also discuss priorities as a few late breaking items have come up within the past week.

[2020-01-30 16:21] mikey2695 commented on #22
1. Emails will be in reports, that is a must do agree. Customer emails only need to be added once in the Add Company screen, so there is no worry there.
2. This form is for dispatchers to Add a Product to an existing company. For example JG, if you get a request to add 240/5010 tracking to a company that already has 210 billing, you would do it through this form. This explains the lack of an EDI I

[2020-01-30 16:45] mikey2695 commented on #25
Agreed all around in regards to the test database. This is something that needs to be discussed tomorrow at the meeting like Jan-Marie has said.

[2020-01-30 16:54] mikey2695 commented on #18
We need to talk about this further, I'm slightly confused as to what exactly is needed here.
Do you want the Sort by User to come up after sorting by system?
So hypothetically speaking, after you choose EDI, you want Figueroa, Morgan, Jensen, etc. to pop up as choices in a separate combobox?

[2020-01-30 17:02] qdd8jtl commented on #18
Not sorting within the grid view for Weekly Review, but to add sorting for records on the Weekly Review form once I hit Edit/View to go through each of the items for the week.  I am finding that even when I sort by even System on the grid view, when I click on Edit/View, it takes me to where that record lies
i.e. if an item for CRIS for Dow is 5th on the list -
- Sort on the grid view and that ite

[2020-01-30 19:55] qdd8jtl commented on #17
Guys I'm not getting to this today.  The almost 3 hour call I was on today put me behind with other things.  Can one of the other approvers take a look at this today?  I'm supposed to run actual aging today, but will most likely run it tomorrow at this rate. @NickD0w , @tcoma-ups, @brcox90

[2020-01-30 20:42] NickD0w commented on #17
Just verified with Mike, Working properly.
When issues are approaching aging you will get the warning as before, but now they will not clear until an update is made. Then I verified it will clear.

[2020-01-30 21:03] mikey2695 commented on #21
@NickD0w has verified this for me.

[2020-01-30 21:06] NickD0w commented on #21
True Story.... Verified, works great.

[2020-01-30 21:29] #21 closed

[2020-01-31 13:21] mikey2695 commented on #24
@NickD0w and @mortii09, here is the query for effectiveness...I see a few flaws myself, we can discuss later in our meeting if you guys would like:

SELECT New_Issues.Assigned_To, [Updates Done] AS[Items Not Needing An Update], COUNT(ID) AS[Total Open Items],
CAST([Updates Done] as decimal(12,1))/ CAST(COUNT(ID) as decimal(12,1)) * 100 AS[% Effectiveness]
FROM New_Issues INNER JOIN(SELECT COUNT(ID

[2020-01-31 13:32] milleniumchilld commented on #22
Based on the comments I will make the necessary updates. Thank you

[2020-01-31 13:47] mikey2695 commented on #24
Messing around myself, I got this and it seems fine:

SELECT New_Issues.Assigned_To, [Updates Done] AS[Items Not Needing An Update], COUNT(ID) AS[Total Open Items],
CAST([Updates Done] as decimal(12,1))/ CAST(COUNT(ID) as decimal(12,1)) * 100 AS[% Effectiveness]
FROM New_Issues INNER JOIN(SELECT COUNT(ID) AS [Updates Done], Assigned_To FROM New_Issues WHERE (LEN(Mgr_Notes) = 0 OR Mgr_Notes IS NULL

[2020-01-31 13:55] brcox90 opened #26 "New Menu Demo"
This issue is to get sign-off on the new menu so that it can be placed into production.

[ScreenCap.zip](https://github.com/CIMDBORG/CIMMigrationProject/files/4139684/ScreenCap.zip)

[2020-01-31 13:56] mikey2695 commented on #24
Brain is going today so thoughts on the second query (% effectiveness for Aging based on the total number of unique weeks divided by Total number of times aging is run throughout the year)
We need to obviously track the number of times aging has been run throughout the year - maybe this would be good as an additional column to the History table? Thoughts? That field would probably have to be manip

[2020-01-31 17:28] NickD0w commented on #26
Walked through the new menu with Brandon & Jan-Marie. Looks & Works great.
Approved to implement into production.

[2020-02-03 21:11] brcox90 commented on #26
@mikey2695 @Pawel062 The work for this is completed in the test database, as well as combining pages and windows in c# where necessary. This is a pretty large code change, and should be discussed with myself (since I know exactly what's changing) and Jan-Marie and Nick (for final go ahead) before being implemented. We should do this ASAP.

[2020-02-03 21:12] mikey2695 commented on #26
Agreed Brandon. I have held off on implementing the menu because of that reason. This must be discussed tomorrow early on.

[2020-02-04 15:39] brcox90 commented on #26
[Coding Changes.txt](https://github.com/CIMDBORG/CIMMigrationProject/files/4154342/Coding.Changes.txt)

Attached is a list of classes that were changed. This list can be used to integrate the code located on the test DB in order to get changes into the live DB. Please let me know if there are any questions regarding changes. Looking to get this done as smoothly as possible.

[2020-02-04 16:11] mikey2695 commented on #26
Database is ready to test on LAN. Should be good to go. Please let me know if any issues arise.

[2020-02-04 16:35] Pawel062 commented on #26
should we report issues here or make a new item for them? I already found some bugs.

[2020-02-04 16:37] NickD0w commented on #26
I would say add them here, since this is not implemented yet. Keep the Issues for production items.

[2020-02-04 16:38] mikey2695 commented on #26
Add them here for sure. Easier to keep track of here too.

[2020-02-04 16:55] Pawel062 commented on #26
Issues I am seeing:
1. when you click on DB list without the left side bar expanded, it will crash. If you click any other they work still.
2. when you click through the menu and open new windows, the old window does not close so for example I logged in, clicked home button and there are 2 home windows. If I click add record I will now have a 3rd window open and the main menu moves to top of the s

[2020-02-04 18:25] brcox90 commented on #26
Is anybody in the LAN copy Mike mentioned at the moment?

[2020-02-04 18:31] NickD0w commented on #26
I am not.

[2020-02-04 18:33] mikey2695 commented on #26
All clear here.

[2020-02-04 18:35] Pawel062 commented on #26
i am also out

[2020-02-04 19:03] brcox90 commented on #26
From what Pawel pointed out, only the first two issues are resulting from the menu implementation (the multiple windows without a close, and the crash when a button was clicked).

Of those issues #'s 1, 2, and 4 have been fixed.

The purple buttons seem to be something the debugger in Visual Studio does on its own (similar to adding the purple underline on the login page). That'll go away when liv

[2020-02-04 19:04] mikey2695 commented on #18
I have made this fix. I will make this ready to test along with Brandon's menu update.

[2020-02-04 19:36] mikey2695 commented on #26
Gotcha
Let me know when this is verified. I have one other fix (#19) to implement with this one as well and we will push it all in one go

[2020-02-04 20:51] brcox90 commented on #26
@Pawel062 went through and tested the changes. Last I heard he said everything was good to go.

[2020-02-04 20:52] Pawel062 commented on #26
I give my stamp of approval.

[2020-02-04 20:53] mikey2695 commented on #26
Sounds good. Will make changes to LAN copy (my change is only a change to a query)

[2020-02-04 20:58] qdd8jtl opened #27 "Enhance the BC Approval Process for Managers and TT"
This issue is a request from TT to allow a status that is updated for BC's that are in review to be automatically saved.

Current Process - Managers review and put the BC's in BC Submitted after review.  TT goes in to those same BC's shortly after, reviews them, then updates the status to BC Approved.
- For each of these, the Update button must be clicked in order to save the status and then move

[2020-02-04 21:00] mikey2695 commented on #18
My change on Issue #18 has been made on LAN, ready for test

[2020-02-04 21:04] mortii09 commented on #27
I think this is a must, and should be implemented for all levels of user access. I personally hate the update button very user-unfriendly.

[2020-02-05 13:03] brcox90 commented on #18
Looks good Mike. Got one approval from me.

[2020-02-05 13:23] NickD0w commented on #18
I concur... Good to Go.

[2020-02-05 13:33] mikey2695 commented on #18
Awesome.
@qdd8jtl, please let me know when we are good to go in regards to going live with changes.

[2020-02-05 14:03] qdd8jtl commented on #18
Guys - THANK YOU for staying on top of this and getting this going.  I spoke to @NickD0w and have given him the go ahead to sign off on going live with changes.  I trust you guys will follow this same process with other updates moving forward.  For approvals, I think we agreed backup people would be @NickD0w , @brcox90 , @tcoma-ups in the event one of the backups or myself cannot do the verificati

[2020-02-05 14:22] mikey2695 opened #28 "Form style effected by changes to App.xaml file"
I noticed that there has been an issue with the changes to App.xaml - the purple arrows, and blank combobox backgrounds below:

![image](https://user-images.githubusercontent.com/52287707/73849914-c45b4a00-47f8-11ea-9686-315841c53351.png)

I have found that this is caused by these lines added to the App.xaml code:

ResourceDictionary>
            <ResourceDictionary.MergedDictionaries>

[2020-02-05 14:41] brcox90 commented on #28
I think these can be fixed by adding a Static Resource to the style of these items. Will get that done now

[2020-02-05 14:42] mikey2695 commented on #28
Sounds good Brandon

[2020-02-05 14:47] NickD0w commented on #28
Nice, geting that fixed before going live, would of course be ideal. You know that's one of the first things people will see and flag as an issue.

[2020-02-05 14:55] brcox90 commented on #28
The style of the buttons and comboboxes have been fixed.

[2020-02-05 14:56] mikey2695 commented on #28
Awesome. @NickD0w please verify and tell me whether we're good to go live

[2020-02-05 15:01] mortii09 commented on #27
Hello all, just wanted to update, i have tested this case, so for users like me ( specilists ) the update functionality is not required. i had just been paranoid and always had been clicking update just to be safe after being scarred.

[2020-02-05 15:06] mortii09 commented on #28
good stuff

[2020-02-05 15:08] NickD0w commented on #28
Verified, Good to Go!

[2020-02-05 15:09] #28 closed

[2020-02-05 15:10] #18 closed

[2020-02-05 15:11] #26 closed

[2020-02-05 15:51] mortii09 commented on #24
@mikey2695 hey yo, is the query mentioned above the finished product? ill review it.

[2020-02-05 15:54] mikey2695 commented on #24
@mortii09 yessir

[2020-02-05 17:12] NickD0w opened #29 "ISSUES DB - Table Edit/View Button adjustment"
Couple minor cosmetic items:

In Table View of issues, the Edit/View button is slightly cut off...
![image](https://user-images.githubusercontent.com/59174086/73864736-26737980-4810-11ea-8177-b9c9e0bc0012.png)

Also noticed in the Search Items table, the Opened Date needs adjustment...
![image](https://user-images.githubusercontent.com/59174086/73864894-633f7080-4810-11ea-9053-b7265b49e04b.png)

[2020-02-05 19:47] brcox90 commented on #29
Fixed these as well. Keep pointing them out. By Monday all should be perfect format wise

[2020-02-05 20:17] mortii09 commented on #24
@qdd8jtl the first requirement is fullfilled by the above query. I have peer reviewed the query .. the logic and everything checks out - its accurate.

@mikey2695 we do not have a query for the second requirement correct? or @Pawel062  do we have a query for the second requirement Jan-Marie has requested?

[2020-02-05 20:18] mikey2695 commented on #24
We do not have the query done for the second query, correct

[2020-02-05 20:22] kaylori77 opened #30 "Issues DB - Weekly Review w/Apps - Add 'Requested By' Information"
Suggesting an enhancement to the Issues DB-->Weekly Review w/Apps form.
Add a 'Requested By' field to store the information of who (if applicable) requested the issue that was documented in the DB.
Seems that this question is asked frequently during these meetings & it may be useful to have.

Attaching screen shot below...

![image](https://user-images.githubusercontent.com/60524314/77782149-34ce5

[2020-02-05 20:23] Pawel062 commented on #24
I have to check through my notes but I don't have one on a quick glance.

[2020-02-05 20:29] mortii09 opened #31 "Starting the Commenting portion of the project"
Team,

Per our conversation, the purpose of this issue is to Keep track of the specific page we are going to be commenting for the CIMMigrationProject. For starters, we will all take one page of thr .CS page and comment it out.

**Very Important**, since we just made a new update.  Can we please have a person volunteer to update the code portion of this repository online? so we can all just downlo

[2020-02-05 20:30] mikey2695 commented on #30
Makes sense to me, we can definitely find space to add the requested by field

[2020-02-05 20:35] mikey2695 opened #32 "All codes files now in github"
You can now access all the code files on here. You can pull/create a new branch and mess around with code there.

[2020-02-05 20:36] mikey2695 commented on #31
Just updated @mortii09

[2020-02-05 21:06] mortii09 commented on #31
Thank you good sir @mikey2695

[2020-02-05 21:18] NickD0w commented on #32
Nice!! Thanks Mike,
@mortii09 @brcox90 @qdd8jtl @carrubba24 @Pawel062 @tcoma-ups
so we should no longer need to use a separate Test DB from the Lan for future coding.
Just the Mainline, and the individual branches we create when we pull from Git.

[2020-02-05 22:25] Pawel062 commented on #31
Hi Guys,

In order to keep this organized and to make sure we don't start commentating on something already in progress, I made a excel file with all the .cs, .config, and other filetypes we should comment on. If you choose to comment on a file please put your name on there and status even if not started yet. If there's any files I missed, have been commented already, or should be added then pleas

[2020-02-06 13:08] qdd8jtl opened #33 "Clicking on the 'Add Record to Issue' Closes Main Menu"
When clicking on the 'Add Record to Issue' on the  new hamburger menu, it opens up the Add New Record Form.  However, it also closes the main menu screen and only the Add New Record form is open.  The application has to be re-opened to navigate within the database again.

[2020-02-06 13:29] #32 closed

[2020-02-06 13:33] brcox90 commented on #33
Would this fix be acceptable?

- If the user hits submit or cancel on the screen, they'll be taken to the Issues DB menu screen.

- If the user closes the window, the application will open the Database Menu screen

Personally, I think flow works best so that the user doesn't have a bunch of screens opening without others closing. The overall app should really strive to work one window at a time, w

[2020-02-06 13:40] qdd8jtl commented on #33
I agree!  I did notice that one window would close and the current would remain open which is great so you don't have 10 different windows open at the end of it all.  The only time that doesn't happen is if you click on the Error File database (double check me on that).

I do like the idea of making sure the database main menu appears whether you hit Submit, Cancel, or the X on top right corner.

[2020-02-06 13:42] NickD0w commented on #33
I like the idea, and agree with the overall flow thought, but takecare not to code it to close all windows. For instance I like to be able to have the browse items results open when adding a new issue to I can see the priority #'s.

[2020-02-06 13:48] brcox90 commented on #33
@qdd8jtl @NickD0w
I think that should be a code clean up issue, separate from this. We would have to discuss it, to make sure we all agree on it. As Nick pointed out, there are some windows where it's beneficial to keep them open in certain cases, etc. This can be something for the team meeting. Simple addition to code that we can do as we update comments on each page.

[2020-02-06 13:48] brcox90 commented on #33
Also, this issue has been fixed.

[2020-02-06 19:09] mortii09 commented on #31
that is great! beats my idea haha thank you

[2020-02-06 19:14] tcoma-ups opened #34 "CDC Error File Database"
Opening this issue for the work being done on the CDC Error File Database. Brandon has completed most of the design and queries have been built, however currently we are running into the issue of importing the files from the mainframe to the database with specific data from the files. Morty is currently working on the transition of a SQL query to perform the same task in the C# front end and ultim

[2020-02-06 20:20] brcox90 commented on #34
I created an SSIS package for this. Now, just need to figure out how to execute the package using the front end. Idk if you know how to do that Morty.

Everything I'm seeing online is telling me to use methods that return errors and do nothing.

[2020-02-06 20:27] NickD0w commented on #34
I'm definitely not an SSIS expert, but can you trigger the SSIS package using a query statement?
If so, my thought would be to use the code I sent you earlier Brandon, to create a C# / SQL-S connection then send the Query command through C#. - Just brain storming.

[2020-02-06 20:30] Pawel062 commented on #34
we need morty in here but from my limited memory of when Johnny and I did this with Andy, you create the ssis package, send it to him, he loads it to his server, and then sets up the server to run it at a certain time/day(s)

[2020-02-06 20:36] brcox90 commented on #34
@NickD0w I've got no idea if that's possible. I've seen a lot of methods online and none of them are current.

@Pawel062  this SSIS package was made for a different reason. Eventually we'll do that but if we can't trigger this package from the front end it defeats the purpose of migrating this DB. The CDC user would end up doing more work than they're doing now for the same result.

[2020-02-07 16:53] qdd8jtl commented on #27
@brcox90 will start working on this.  Thanks, Brandon!

[2020-02-07 17:09] brcox90 commented on #34
Solved it! Will get code posted to Github after Monday's implementation

[2020-02-07 17:09] #34 closed

[2020-02-07 19:32] brcox90 commented on #19
@mikey2695 think you pointed out how you fixed it in the comments

[2020-02-07 19:40] mikey2695 commented on #19
Fixed. Code was overwritten I believe (probably my mistake).

[2020-02-10 14:53] qdd8jtl opened #35 "Application Priority List Export with 300's Items Generates Error"
When clicking on Reports - Application Priority Report - Include 300's items, the message in the attached screenshot appears and the priority list cannot be exported to Excel.

[Issues-PL-Export300s.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/4181423/Issues-PL-Export300s.docx)

[2020-02-10 15:10] qdd8jtl commented on #35
Did something change recently with the Exporting of priority lists?  @brcox90 also noticed we have missing BID numbers when going into Browse Item - Browse Open Items and exporting Priority List to Excel for this week.

[Issues-BrowseOpenItems.xlsx](https://github.com/CIMDBORG/CIMMigrationProject/files/4181521/Issues-BrowseOpenItems.xlsx)

[2020-02-10 15:12] mikey2695 commented on #35
Haven't touched that in about 2-3 months

[2020-02-10 15:15] qdd8jtl opened #36 "Aging Items Notification is Cut Off on Main Menu"
When a user has aging items requiring a status update, the yellow notice appears, but is cut off.
[Issues-AgingItemNotif-CutOff.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/4181548/Issues-AgingItemNotif-CutOff.docx)

[2020-02-10 20:35] brcox90 commented on #27
This change was made and implemented for both user and managers. Fully functional in test.

[2020-02-10 20:37] brcox90 opened #37 "Remove ability to maximize main menu screen to avoid formatting issues"
This has been addressed and fully functional in test. Just opening this issue for traceability

[2020-02-10 20:43] mikey2695 commented on #27
Awesome, @NickD0w @tcoma-ups @qdd8jtl please let me know when we have the okay to push changes (I know this was a high priority issue)

[2020-02-10 20:47] brcox90 commented on #27
Personally in favor of an 8am push

[2020-02-10 20:59] brcox90 commented on #27
Actually found a bug so this is still incomplete

[2020-02-10 21:46] mikey2695 commented on #27
No worries Brandon.

[2020-02-11 14:17] tcoma-ups opened #38 "Cassie's Report Formatting request from Pune"
Opening this issue to document the below format requested by Pune for the report this database produces. Other than the columns, they are requesting that we have the new records highlighted, this is how the original Access Database produced this form.

![image](https://user-images.githubusercontent.com/59063096/74244162-02e87d00-4caf-11ea-9f20-a19650189f8d.png)

[2020-02-11 15:52] ellenculp opened #39 "Cannot Add New Record to the Issues database"
Message appears 'Fields Marked with an * Must Be Filled'.  Click Ok, then a box with 'System.Data.SQLClient.SQL exception (0x80131904)
FYI I could not attach the screen prints in GitHub

[2020-02-11 16:23] mikey2695 commented on #39
Ellen,

I know someone else who ran into this problem who just didn't have the application updated.

Open the database from the LAN (double-click the circled below):

![image](https://user-images.githubusercontent.com/52287707/74256105-e35a5000-4cc0-11ea-9faa-6db57d6cbdcc.png)

Let us know if you are still running into the error after that.

[2020-02-11 17:49] brcox90 commented on #33
[Coding Changes.txt](https://github.com/CIMDBORG/CIMMigrationProject/files/4187234/Coding.Changes.txt)

@mikey2695 since things are being put on hold, I think we should push an update of what's ready to go right now since there are some item we needed implemented that were waiting on other things to get pushed.

@NickD0w @qdd8jtl @tcoma-ups do you agree?

[2020-02-11 18:52] NickD0w commented on #33
I would agree as long as we're confident the changes will not add more bugs.

[2020-02-11 18:54] Pawel062 commented on #33
Drop the changes in with a bottle of Raid. It'll keep the bugs out ;)

[2020-02-11 19:31] brcox90 commented on #33
@NickD0w pretty much all the changes available to get implemented are design changes, or Mike reloading fixes he made that got lost when we started moving code around and stuff.

[2020-02-11 19:44] mikey2695 commented on #33
I'm ready on my end, seems to be fine now.

[2020-02-11 19:45] mikey2695 commented on #39
This seems to have been fixed, someone please verify

[2020-02-11 19:48] brcox90 commented on #39
I've added a couple issues today. Fine on my end.

[2020-02-11 19:50] mikey2695 commented on #39
This was the old issue @NickD0w raised the other day about not being able to add issues with a planned date. Make sure we can add issues with a planned date

[2020-02-11 19:51] ellenculp commented on #39
I am still not able to add issues even entering the issues db from the LAN

Ellen Culp
UPS Customer and Billing
201-828-7829
5-283-7829
eculp@ups.com<mailto:eculp@ups.com>

Confidentiality Notice: This message is intended exclusively for the individual or entity to which it is addressed. This communication may contain information that is proprietary, privileged, confidential or otherwise legally e

[2020-02-11 19:59] brcox90 commented on #39
@mikey2695 someone's most likely going to have to sit with Ellen and trouble shoot this one.

[2020-02-11 20:04] mikey2695 commented on #39
@brcox90 @ellenculp I ran it in the test environment without a problem, once we do our final push this should be good.
Ellen, the change hasn't been put through yet, which is why you still have the error

[2020-02-13 13:42] carrubba24 opened #46 "Weekly Review With Applications Item Browsing"
When clicking previous/next item arrows in the weekly review screen , some cells pull data for next item, but most cells seem 'stuck' on the first item when the screen was launched. May have something to do 'Update Successful' message that populates when clicking the arrows.

[2020-02-13 13:47] carrubba24 commented on #46
Looks like it is definitely related to the 'Update Successful' message, because all of my items now have the same title.
![image](https://user-images.githubusercontent.com/59064371/74441096-3bb65c80-4e3d-11ea-85ad-e1c877194c27.png) <br/>
Please use caution, I advise staying away from the 'Weekly Review with Applications' screen until this is resolved.

[2020-02-13 14:00] mortii09 commented on #46
i like to add i am finally getting updates via email!

[2020-02-13 14:03] mortii09 commented on #46
dom, wait this has completely updated your data for real!? @brcox90 @qdd8jtl @mikey2695

[2020-02-13 14:07] carrubba24 commented on #46
Unfortunately yes, but luckily I save a report of open items week to week so I have a backup.

[2020-02-13 14:07] mikey2695 commented on #46
Can confirm. Code red. No one touch weekly review w/apps. On it.

[2020-02-13 14:10] mortii09 commented on #46
let me know if you need my eyeballs, and i can give backup...

[2020-02-13 14:14] brcox90 commented on #46
I fixed it. This was actually happening with the back button. Something that needed to be commented out wasn't (**COMPLETELY ON ME**). We should probably be pushing this update ASAP.

@NickD0w @mikey2695 @qdd8jtl

[2020-02-13 14:19] qdd8jtl commented on #46
As long as we are sure the issue is completely fixed, please get the update out sooner than later.  We might want to send an email to the team just to let them know, too.  Thanks for addressing this so quickly with all the crazy going on with the migration.

[2020-02-13 14:20] NickD0w commented on #46
Agreed this needs to go in... @mikey2695 @mortii09  can you verify the fix?

[2020-02-13 14:31] mortii09 commented on #46
@NickD0w @qdd8jtl yes i will test this, and agree this will need to be confirmed 100 percent before posting.. i will need to see this step by step to confirm and why the error occured.

I have a feeling we maybe in a disconnect about how github is supposed to be utilized i will call

[2020-02-13 16:16] brcox90 commented on #46
Updated and fix has been pushed

[2020-02-13 16:16] #46 closed

[2020-02-13 19:12] qdd8jtl opened #47 "Back Button on Manager Menu Opens Separate Main Menu Each Time"
When clicking on the Back button on the Manager Menu, the Manager Menu should close, then the Main Menu appears.  Currently, the Back button leaves the Manager Menu open, and opens a Main Menu each time that button is clicked.
[Issues-MgrMenu-BackBtn.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/4200506/Issues-MgrMenu-BackBtn.docx)

[2020-02-14 20:16] carrubba24 opened #48 "Establish a Detailed Procedure for Data Backups"
In order to move forward in migration / implementing new features to the application, our most important task is to establish a clear process in backing up the SQL Database for the application.

The backup process must be detailed and meticulous, and must be approved by the team.

[2020-02-14 21:49] carrubba24 opened #50 "Wiki: Billing Additional Tasks"
So as it turns out, I am currently the only one with control to enter items in the Billing Additional Task Wiki Page.
So until we can find a better solution and to get that page up to date quickly,  continue to log your tasks in the OneNote. I will check the OneNote frequently & make sure it stays up to date.
In the mean time I will look for alternate solutions and we can discuss the best one when

[2020-02-17 20:00] milleniumchilld commented on #38
@tcoma-ups is this something you need for me to design?

[2020-02-17 20:04] tcoma-ups commented on #38
thanks @milleniumchilld, but I think that screenshot will do... its just an excel export.

@brcox90 would a mock up help you out with this?

[2020-02-18 15:27] brcox90 commented on #19
Fixed in last update

[2020-02-18 15:27] #19 closed

[2020-02-18 15:28] brcox90 commented on #37
Fixed in last update

[2020-02-18 15:28] #37 closed

[2020-02-18 15:28] brcox90 commented on #29
Fixed in last update

[2020-02-18 15:28] #29 closed

[2020-02-18 15:28] brcox90 commented on #33
Fixed in last update

[2020-02-18 15:28] #33 closed

[2020-02-18 15:29] brcox90 commented on #39
Fixed in last update

[2020-02-18 15:29] #39 closed

[2020-02-18 15:30] brcox90 commented on #38
@tcoma-ups @milleniumchilld  I think a screenshot works fine for this.

[2020-02-18 15:31] brcox90 commented on #6
Implemented a few updates ago

[2020-02-18 15:31] #6 closed

[2020-02-18 15:32] brcox90 commented on #25
Addressed by @mikey2695 @mortii09 @tcoma-ups and @NickD0w

[2020-02-18 15:32] #25 closed

[2020-02-18 15:57] milleniumchilld commented on #38
Thank you

Sent from my iPhone

[2020-02-18 16:01] NickD0w commented on #50
One possible solution Dom is looking more into is adding an Excel Doc to the Code pages we can update from there.... Thoughts??

[2020-02-18 16:09] brcox90 commented on #50
He ran this idea by me as well. It has my vote. Would improve the current process a great deal.

[2020-02-18 16:10] mikey2695 commented on #50
Sure, makes tons of sense.

[2020-02-18 16:12] carrubba24 commented on #50
Sweet, I will make a 'prototype' excel sheet that we can test out and approve.

If anyone has any doubts or suggestions just let me know.

[2020-02-18 16:14] brcox90 commented on #23
All,

This issues been open a while with no comments/feedback on it. I've switched the assigned users to members of the EDI team so we can get some feedback on this issue and hopefully get it closed.

@mikey2695  @milleniumchilld

[2020-02-18 16:15] brcox90 commented on #22
@milleniumchilld  @mikey2695  any update on the design of this form?

[2020-02-18 16:16] mikey2695 commented on #22
You can close this

[2020-02-18 16:16] #22 closed

[2020-02-20 20:04] qdd8jtl commented on #17
Re-opening this issue.  I have 2 strategic tasks that are aging 8 days (one is ISPS the other is the database one) and I am not getting the aging items reminder.  If I have time to attach screenshots, I will.

[2020-02-21 20:30] NickD0w commented on #48
@mortii09  will take on creating a backup.
@carrubba24  will work with Morty to document the procedure for the Wiki

[2020-02-21 20:32] tsp1sxs opened #54 "test"
Test . Please look @mikey2695

[2020-02-21 20:33] #54 closed

[2020-02-28 14:26] tcoma-ups opened #60 "Report Export Template - Consistancy"
From the 'Open All Items' form, the export is not producing the assigned to column with names.

Browse items -> browse open items -> export to excel.

All report exports must be consistent and use the same template, i.e the Priority List report export should match with the Open All Items report export, same columns with the populated data

[2020-02-28 16:37] tcoma-ups opened #61 "Strategic Task Export Functionality"
Opening this issue to add the functionality to export a report from the 'Strategic Tasks' form. Currently, the work around to exporting the Strategic Tasks would be exporting from the 'Browse Open Items' form. This ties into the previous issue opened where the export is not consistent with the others and does not produce an Assigned To column. Adding this functionality will allow more visibility t

[2020-03-03 14:35] mikey2695 opened #63 "' in fields when adding or editing a record"
A few people including myself have run into this error before. While the ' character is taken account for in title, supporting details, internal notes fields, it is not taken into account for in Assigned To and Requested By fields. There should be a measure taken in order to take care of the ' character in every text field from here on out. This can be done using the Replace method on a string ( R

[2020-03-04 13:24] qdd8jtl opened #64 "Left and Right Arrows Shift On Manager Review Form"
When going through items under Manager Review, the left and right arrows shift.  Screenshots won't help with this one.  Please go into Manager Review form.  As you go to the next record on the list, the arrows shift on the form between BC/TI/Issue and Strategic Task.

[2020-03-04 13:44] milleniumchilld commented on #64
Morning,

I will take a look at it and do a Mock up.

Sent from my iPhone

[2020-03-04 15:29] mikey2695 commented on #48
Me and @mortii09 have figured out how to backup AND restore the database from said backup. Next step is to work with @carrubba24 to document the procedure in the wiki (it's basically a 3-4 click procedure that takes a few seconds).

[2020-03-04 15:48] mortii09 commented on #48
Me and dom had a meeting yestarday in regards to the documenating the backup and restore process.

[2020-03-04 15:48] mikey2695 commented on #48
oh

[2020-03-04 16:15] carrubba24 commented on #48
Will be making a detailed " SQL Backup / Restore " wiki page in the following days

[2020-03-05 15:23] tcoma-ups opened #65 "Add new "System" in Issues Database"
Opening this issue to document an update we want to make as far as adding a new 'system' in the issues database. For project planning purposes, we want to add the "AUTO" system to be able to manage a priority list of current things we are all working on. We have the functionality built already for our other applications and applying to our automation work would help maintain statuses and keep thin

[2020-03-05 18:36] qdd8jtl opened #66 "Error Appears for Manager Review When Clicking Update"
3/27/2020 - Adding additional details to this issue:

When a user exceeds the number of characters allowed in a field, display a message stating the error. For Example: Maximum allowed characters for field exceeded.

Currently, user receives the following error: **Priority Number, BC/TI, One-Time Benefit and Annual Benefit must all be integer values**

User clicks OK, then a system error displays.

[2020-03-10 12:03] chrisdecicco opened #67 "Issue with active status is missing from weekly review with applications"
Issue 1384168 currently shows when I try to access the IB priority list going to browse items                  ->prioritize by system, but does not show up when trying to access through the weekly review with applications option.

[2020-03-12 14:59] tcoma-ups commented on #31
Closing this issue due to completion

[2020-03-12 14:59] #31 closed

[2020-03-12 15:10] tcoma-ups commented on #48
Closing this issue due to wiki completed by Dom

[2020-03-12 15:10] #48 closed

[2020-03-12 15:11] qdd8jtl commented on #67
@chrisdecicco  - haven't been able to look into this just yet, but your issue will sit unless you assign them out.  We all get an email notify if you assign to us and add the right labels on the right.

[2020-03-12 15:28] qdd8jtl commented on #30
Can we also utilize this same issue to add **Priority Number** on the Weekly Review form rather than opening another separate issue?

[2020-03-12 15:29] tcoma-ups commented on #50
Closing this issue due to it being located in the code tab under "BillingAdditionalTasks.xlsx"

[2020-03-12 15:29] #50 closed

[2020-03-12 20:31] qdd8jtl opened #70 "Back Button Under Managers Opens Multiple Main Menus"
The back button under Managers Menu opens multiple Main Menus when it is clicked.

[2020-03-12 20:58] brcox90 commented on #70
Duplicate issue (see issue #47). Being addressed with other code clean-up items within the next 2 weekly updates ( either for this coming Monday, or next) unless we decide to push the code clean-up as soon as it's done.

[2020-03-12 20:58] #70 closed, assigned to mortii09, mikey2695, brcox90, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w, milleniumchilld, kaylori77

[2020-03-13 14:21] brcox90 opened #71 "Code Clean-Up"
[codechanges.txt](https://github.com/CIMDBORG/CIMMigrationProject/files/4330006/codechanges.txt)

The attached document is a very informal list of what needs to be looked at in the database. These small clean-ups will make the application look and run smoother.

[2020-03-16 13:12] carrubba24 opened #72 "Report : Export to Excel not Working"
Not sure if this is something we are aware of currently, but when in the 'Report' screen & clicking 'Export to Excel' I receive this error message & failure to export.

![image](https://user-images.githubusercontent.com/59064371/76761642-2ac37880-6766-11ea-8515-aa105176bb2b.png)

[2020-03-16 13:32] brcox90 commented on #72
Getting the same error as well.

[2020-03-16 13:35] carrubba24 commented on #72
Also noticing the error in trying to export from the 'Browse Items' screen. Is there a chance we consolidated the export function & made an error somewhere?

[2020-03-18 15:17] mikey2695 commented on #72
So this is what was happening...
When changes were last deployed, there was a mismatch in the minor versions in the Assembly Version and the Publish Version.

![image](https://user-images.githubusercontent.com/52287707/76976073-d0631d00-6909-11ea-8597-1f205800c770.png)

![image](https://user-images.githubusercontent.com/52287707/76976126-ebce2800-6909-11ea-9c5f-9168a117079f.png)

The minor version

[2020-03-18 15:18] mikey2695 commented on #65
This has been completed and added in version 3.0.0.2

[2020-03-18 15:23] NickD0w commented on #65
Verified in production.

[2020-03-18 15:23] #65 closed, assigned to mortii09, mikey2695, brcox90, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w

[2020-03-18 15:26] NickD0w commented on #72
It's always the little things that make the difference. Glad you found it.
Verified working in production.

[2020-03-18 15:26] #72 closed, assigned to nobody

[2020-03-20 12:36] mikey2695 commented on #17
This still an issue? Will work on it today if so.

[2020-03-20 12:53] qdd8jtl commented on #17
Yes.  I did not get to run Aging yesterday and purposefully left out a status on the 2 strategic tasks under my name.  I don't have a message for Aging when I log on.  If you need me to NOT run aging for now, we can waive this week.

[2020-03-20 12:55] mikey2695 commented on #17
Gonna work on this ASAP as I have the time today.

[2020-03-20 20:40] qdd8jtl opened #75 "Unable to Close Resolved Issue for IB"
For IB Issue 937182, we are unable to close the issue.  Marked this as a higher impacting item since it will continue to remain on our Priority List.  Work-around will be to put it at the bottom of the list for now.

The following message appears when clicking Update:
Message - Update failed:  Must make changes to Title,Supplementary Details, Or Business Impacts.

[2020-03-23 13:45] brcox90 commented on #75
This seems to fixed. Close out 3 issues this morning including the one listed above without an error message.

[2020-03-23 14:39] qdd8jtl opened #76 "Weekly Review w/Apps opens up the form on the Second Record"
When opening up the Weekly Review w/Apps, the form opens up and displays the second record on the listing rather than the first.

I.E. - Weekly Review w/Apps, include 300's, System - Auto

[2020-03-24 15:42] qdd8jtl opened #77 "Items Marked as Manager Review Do Not Save"
When a manager clicks on 'Manager Review' checkbox for an item and clicks on Update, the Manager Review Checkbox becomes deselected and the message 'Update Successful!' appears.

This is a higher priority item since managers will be unable to mark items as OK.

[2020-03-25 19:34] qdd8jtl commented on #77
All - looks like we have an issue where 'Update Required' does not go away.  Please use Issue 1552762 for CDC

- 'Update Required' is flagged for an item

- User goes in and makes appropriate update

- Manager Reviews - Update Required is deselected, then Manager Review is checked off

- When clicking update, Update Required is checked off again and now both Manager Review and Update Required are

[2020-03-27 17:28] kaylori77 opened #78 "Add a User Friendly Message When Character Limit is Exceeded on a Form"
Closing this issue since it's a duplicate of Issue #66

When a user exceeds the number of characters allowed in a field, display a message stating the error. For Example: Maximum allowed characters for field exceeded.

Currently, user receives the following error: **Priority Number, BC/TI, One-Time Benefit and Annual Benefit must all be integer values**

User clicks OK, then a system error display

[2020-03-27 17:37] brcox90 commented on #78
@mikey2695 @tcoma-ups @Pawel062 @mortii09

Let's include this on the code clean-up and try getting this done today so we can have it in there for the Monday update.

[2020-03-27 20:47] qdd8jtl commented on #78
All - this is a duplicate of #66 opened earlier this month.  Can we close this one out and @kaylori77 add your comments/screenshots to the existing issue.

[2020-03-27 21:27] kaylori77 commented on #78
Closing this issue since it's a duplicate of Issue #66

[2020-03-27 21:27] #78 closed, assigned to mikey2695, brcox90, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w

[2020-03-31 17:12] #77 closed, assigned to mortii09, mikey2695, brcox90, tcoma-ups, carrubba24, Pawel062, NickD0w

[2020-03-31 17:12] #27 closed

[2020-03-31 17:14] #47 closed

[2020-03-31 17:15] #60 closed, assigned to mortii09, mikey2695, brcox90, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w, milleniumchilld

[2020-03-31 17:15] #36 closed

[2020-03-31 17:16] mikey2695 commented on #75
Jan-Marie,
Can you close this with the newest update?

[2020-04-01 16:03] Pawel062 opened #80 "Update Required button continues to be selected after Manger Review checked off and completed."
Once a user updates an item and you click on Manager Review, the Update Required button continues to be selected even when deselected.

![issue](https://user-images.githubusercontent.com/59065602/78159570-ba2c8500-7410-11ea-8a10-413259de4bb3.jpg)

[2020-04-01 17:33] #75 closed, assigned to mortii09, mikey2695, brcox90, tcoma-ups, carrubba24, Pawel062, NickD0w

[2020-04-01 17:34] #76 closed, assigned to mortii09, mikey2695, brcox90, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w

[2020-04-01 17:34] #35 closed

[2020-04-01 17:35] #66 closed, assigned to mortii09, mikey2695, brcox90, qdd8jtl, tcoma-ups, Pawel062, NickD0w, milleniumchilld

[2020-04-01 17:44] #71 closed, assigned to mortii09, mikey2695, brcox90, qdd8jtl, tcoma-ups, Pawel062, NickD0w

[2020-04-02 19:05] Pawel062 opened #81 "Aging Strategic Tasks not triggering aging items notification on main menu"
Jan-Marie has 2 strategic tasks that are aging current. She is not getting the notification that she has aging items on the Main Menu screen.
![issue](https://user-images.githubusercontent.com/59065602/78291397-50d17280-74f3-11ea-88ec-3bbbfb0ee91e.png)

[2020-04-03 18:13] Pawel062 opened #82 "Weekly Review with Apps does not go to first record in EDI"
When you go to weekly review with apps, select include 300s, and the filter by EDI it will go to the 6th item and not the first.
<img width="886" alt="issue" src="https://user-images.githubusercontent.com/59065602/78391892-4677ad00-75b5-11ea-8846-d6ccdd483272.png">

[2020-04-03 18:42] Pawel062 commented on #67
we were not able to recreate the issue and it has not shown up again for any new items.

[2020-04-03 18:42] #67 closed, assigned to mortii09, mikey2695, brcox90, qdd8jtl, tcoma-ups, Pawel062, NickD0w, milleniumchilld, chrisdecicco, kaylori77

[2020-04-06 13:16] #61 closed, assigned to mortii09, mikey2695, brcox90, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w

[2020-04-06 13:21] #81 closed, assigned to nobody

[2020-04-06 17:14] brcox90 opened #84 "Error when updating/submitting edits to a record"
Happens when clicking "Update", Next Button, and Exit Button

<img width="881" alt="Capture" src="https://user-images.githubusercontent.com/59062755/78585802-75d22800-7808-11ea-8f4e-e461bdbc312d.PNG">

<img width="892" alt="Capture1" src="https://user-images.githubusercontent.com/59062755/78585809-77035500-7808-11ea-9209-2287d086bc76.PNG">

[2020-04-06 18:35] ellenculp opened #85 "BID not appearing in the Open Items list"

[2020-04-08 15:27] Pawel062 commented on #85
When you browse through open items, the BID ID field is empty. In the old database (and the way it should work in the new application) it would show in BID ID the BC/TI#.
<img width="881" alt="Capture" src="https://user-images.githubusercontent.com/59065602/78802475-db9aed00-798b-11ea-9e96-dee6e6dd8bca.PNG">

[2020-04-14 14:28] Pawel062 opened #86 "Add a Directors Report to the Manger's Section"
Add a new director's report to the Manager's section for Tom to present to Teresa. Report must include the total # of items open this year and the total # of items active this year. It must also include a listing of the open active items.

[2020-04-16 18:07] Pawel062 opened #87 "Completed Strategic Tasks are getting written to Aging Report"
When Aging Report is ran by management, any strategic task that is completed still gets written as aging. This is because the query in c# does not ignore Completed items when determining what is aging.

[2020-04-16 18:48] qdd8jtl commented on #17
All - I'm about to running aging today and I purposefully left my strategic tasks without a status...I do not see the reminder on the main menu.

[2020-04-17 16:53] Pawel062 opened #88 "Owner field should be locked to editing"
The owner field should be locked from editing. It should be prepopulated based on the person who opens the item. If the issue is opened to the wrong system and an edit the system is needed, the owner should be defaulted to the specialists last name

[2020-04-20 16:07] #87 closed, assigned to mortii09, brcox90, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w

[2020-04-20 16:07] #85 closed, assigned to nobody

[2020-04-20 16:07] #63 closed, assigned to mortii09, brcox90, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w

[2020-04-20 16:09] #17 closed

[2020-04-22 12:56] Pawel062 commented on #84
As per Brandon, unable to replicate so closing.

[2020-04-22 12:56] #84 closed, assigned to mortii09, mikey2695, brcox90, qdd8jtl, tcoma-ups, Pawel062, NickD0w

[2020-04-22 18:24] mikey2695 commented on #23
[EDI DB Design Document.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/4518225/EDI.DB.Design.Document.docx)

[2020-04-22 19:07] milleniumchilld opened #89 "EDI Database Interface Design Document"
[EDI DB Interface Design Document.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/4518495/EDI.DB.Interface.Design.Document.docx)

[2020-04-22 19:48] milleniumchilld commented on #23
[EDI DB Interface Design Document.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/4518676/EDI.DB.Interface.Design.Document.docx)

[2020-04-28 23:23] milleniumchilld commented on #23
Database Design Updates
[EDI DB Interface Design Document.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/4549049/EDI.DB.Interface.Design.Document.docx)

[2020-05-01 12:39] Pawel062 commented on #86
Directors report has been completed and Tom has provided feedback on minor changes.

[2020-05-01 12:39] #86 closed, assigned to mortii09, mikey2695, brcox90, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w, tsp1sxs

[2020-05-11 13:31] Pawel062 commented on #88
Changes have been implemented on 5/11

[2020-05-11 13:31] #88 closed, assigned to nobody

[2020-05-11 18:10] #24 closed

[2020-05-11 18:53] Pawel062 opened #90 "400 level items not included in Aging"
Items that are assigned a 400 level priority are not being including in the aging report or aging notifications.

[2020-05-11 18:57] mikey2695 commented on #90
Can I please get an example of this. A BC number will do.

[2020-05-11 18:59] Pawel062 commented on #90
438191:

![400_error](https://user-images.githubusercontent.com/59065602/81600714-0c5db000-9398-11ea-9fa8-561b04eab109.png)

[2020-05-11 19:59] mikey2695 commented on #90
This is the WHERE clause of the current query:

WHERE((Category LIKE 'BC%' AND(DATEDIFF(day, h1.Latest_Status_Update, CONVERT(date, GETDATE())) > 180))
OR((Category NOT LIKE 'BC%' AND Impact NOT LIKE '%Not Billed Items%') AND(DATEDIFF(day, h1.Latest_Status_Update, CONVERT(date, GETDATE())) > 22))OR(Impact LIKE '%Not Billed Items%'
AND(DATEDIFF(day, h1.Latest_Status_Update, CONVERT(date, GETDATE())

[2020-05-14 14:59] Pawel062 commented on #90
Checked query and the aging is working correctly.

[2020-05-14 14:59] #90 closed, assigned to mortii09, mikey2695, brcox90, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w

[2020-05-14 15:05] Pawel062 opened #91 "Improve BC approval function"
Improve on how Managers are able to change the status of a Business Case from Pending to BC Submitted/Improved. Currently a Manager has to go into the Edit/View form for each BC from Business Cases, review the information, change the status in the drop down, and finally click update. In the Managers Tasks, the process is similar but after review they have to close the edit/view form and click chan

[2020-05-15 13:25] Pawel062 opened #92 "Enhance Edit/View Records and Weekly Review forms."
Enhance the Edit/View Records form and the Weekly Review forms so that:
- the design is the same across all 3 forms
- the left/right arrows don't shift
- requested by is included in the manager weekly review form
- all forms are legible
- the fonts are large enough for visually impaired
- all forms resize and shift correctly based on the window size

[2020-05-15 13:26] Pawel062 commented on #64
combined into 1 issue.

[2020-05-15 13:26] #64 closed, assigned to mortii09, mikey2695, brcox90, tcoma-ups, Pawel062, NickD0w, milleniumchilld, kaylori77

[2020-05-15 13:26] Pawel062 commented on #30
combined into 1 issue

[2020-05-15 13:26] #30 closed

[2020-05-21 19:33] milleniumchilld commented on #23
Database Design Updates (Q&A test session 1)
[EDI DB Interface Design Document.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/4664336/EDI.DB.Interface.Design.Document.docx)

[2020-05-21 20:09] chrisdecicco opened #93 "Users can close out issues without manager review being flagged"
Issue 1643928 was flagged for updates required. Updates were made, but never marked as manager review. User was still able to close out issue in the database.

![image](https://user-images.githubusercontent.com/60188536/82601273-50616980-9b7d-11ea-964a-f5f95622965f.png)

[2020-05-21 20:18] mikey2695 commented on #93
Have to add the logic for this. We will address this tomorrow.

[2020-05-22 18:43] Pawel062 opened #94 "Manager notes being wiped out after user makes his updates"
When a manager marks and item for an update (update required) and a user goes in to make the update the update required will get unchecked. It looks like the Managers notes will also get wiped out. Example BC 200092, I made an update to my item, went back in, and note the managers notes is empty.

[2020-05-26 16:27] Pawel062 commented on #80
Issue is still occurring with BC200096. Once the user (Brandon) makes the update, the update required stays even once Manager Review is selected.
<img width="855" alt="Capture" src="https://user-images.githubusercontent.com/59065602/82925783-385a6300-9f4c-11ea-9a4f-556c10777737.PNG">

[2020-06-01 13:55] Pawel062 commented on #94
After Testing with Tau and Verification of the Queries, we were not able to get the Managers Notes to get wiped out. None of the queries would delete them either. Will close until we can replicate this again.

[2020-06-01 13:55] #94 closed, assigned to mortii09, mikey2695, brcox90, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w

[2020-06-08 16:34] Pawel062 commented on #93
Changes implemented

[2020-06-08 16:34] #93 closed, assigned to mortii09, mikey2695, qdd8jtl, carrubba24, Pawel062, NickD0w

[2020-06-08 16:35] Pawel062 commented on #91
Changes implemented

[2020-06-08 16:35] #91 closed, assigned to mortii09, mikey2695, brcox90, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w

[2020-06-08 16:35] Pawel062 commented on #82
not able to replicate.

[2020-06-08 16:35] #82 closed, assigned to nobody

[2020-06-08 16:36] Pawel062 commented on #80
Changes implemented

[2020-06-29 17:32] milleniumchilld commented on #23
Database Design Updates (test session 2 & 3)
[EDI DB Interface Design Document.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/4847101/EDI.DB.Interface.Design.Document.docx)

[2020-07-15 12:29] Pawel062 commented on #80
Looks like we have 1 item it keeps on doing this for again. Issue # 1717387
<img width="877" alt="Capture" src="https://user-images.githubusercontent.com/59065602/87544989-49cf0a00-c675-11ea-8b06-30491585ae73.PNG">

[2020-08-03 14:57] tcoma-ups opened #95 "CDC US/CA MAN Suspense Database"
Opening this issue to start the work on moving the CDC US/CA MAN Suspense database over from Access to SQL server, I'll be slowly working on this as time permits.

[2020-08-19 15:50] milleniumchilld commented on #23
Database Design Updates (test session 4)
[EDI DB Interface Design Document.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/5097585/EDI.DB.Interface.Design.Document.docx)

[2020-09-17 20:55] milleniumchilld commented on #23
Database Design Updates (test session 5)
[EDI DB Interface Design Document.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/5241765/EDI.DB.Interface.Design.Document.docx)

[2020-10-05 15:01] Pawel062 commented on #20
Enhancements to Priority Number have been implemented.

[2020-10-05 15:02] Pawel062 commented on #80
Issue has been fixed.

[2020-10-05 15:02] #80 closed, assigned to mortii09, mikey2695, brcox90, qdd8jtl, tcoma-ups, Pawel062, NickD0w, tsp1sxs

[2020-10-05 15:04] Pawel062 opened #96 "Interim Database - Sort removed after Updating User and Some sources don't need a weekly drop down."
When you sort the Assignments in the Interim Database, once you update the user assignment, the sort is removed. Also, SVC/MSG/CBS are not part of the weekly verification so the weekly drop down can be hidden.

The names in the Assignments also don't match the names in the filter on the daily form. This is causing some assignments to be missed.

[2020-10-05 15:12] Pawel062 opened #97 "Priority Numbers pasted from one record to another"
In the issues database, when you go into edit/view records, then the priority number will be copied from one issue to another. So if you arrow through 4 items all 4 will use the priority number of the first item you opened. This is causing multiple items to have 101, 201, etc.

The work around is to use the weekly review forms to go through your items.

[2020-10-06 15:52] Pawel062 opened #98 "Interim Reports not pulling any data"
Source Detail and Saturday Scenarios reports are not pulling any data.

[2020-10-06 15:53] Pawel062 opened #99 "Interim Counts are not accurate"
The count on the main form and within the individual reports are not accurate. They are not showing the amount of tracking numbers left to verify.

[2020-10-06 15:59] Pawel062 opened #100 "Interim Help Wanted displays name in the Assigned to of the person logged in not the one asking for help"
When you go to the Help Wanted form, the name of the person logged in replaces the name of the person asking for help in the Assigned To field.

[2020-10-07 12:46] NickD0w opened #101 "Updates Required Checkbox allowing issues to be closed when checked"
There were issues in IB marked for updates but were allowed to be closed.  Users should be getting the pop-up message that they cannot close an item without Manager Review if updates were required. See me for any specific examples needed.

[2020-10-09 15:04] tcoma-ups opened #102 "Re-create Directors Report"
Re-create a Directors report of all open items being worked on - Issues, Defects, BCs, etc. Anything that is in an open status and is currently being worked on should be on this report.

[2020-10-12 13:38] carrubba24 commented on #102
I will be reworking the query for this, will likely schedule some time to get the data mapping if we want to add this to the DB. Since they are similar queries, I noticed the 'Export to Excel' function in the Report Screen is busted. I would like to use this opportunity to get that functional again since my applications are beginning to request a report weekly.

[2020-10-12 16:35] mikey2695 commented on #100
This fix is now ready for testing

[2020-10-12 16:37] mikey2695 commented on #97
This fix has been tested and implemented.

[2020-10-12 19:37] mikey2695 commented on #101
Brandon was manager level in the database. I went into the backend and corrected the roles for each member of the team. This is not an issue with the code and should now work.

[2020-10-13 13:22] Pawel062 commented on #101
Hi Mike, Can we please change that? Managers should not be allowed to close an item marked 'update required' either. The count for my talent then could potentially be skewed. We want to force the user to make updates and the manager to accept the updates before we close anything.

[2020-10-28 14:38] Pawel062 commented on #101
Looks like now also when we make an update to the category of an item like abend/failure to tech request then it is also giving an error.
<img width="950" alt="Capture" src="https://user-images.githubusercontent.com/59065602/97450989-afd05c00-1909-11eb-8160-a412ca0e4634.PNG">

[2020-10-29 13:31] mikey2695 commented on #101
Able to re-create the issue. Being worked on.

[2020-10-30 13:31] #38 closed

[2020-10-30 13:32] #97 closed, assigned to mikey2695, brcox90, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w

[2020-10-30 13:32] #102 closed, assigned to mikey2695, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w, milleniumchilld, kaylori77

[2020-10-30 13:36] Pawel062 opened #103 "Change Owners field to a Drop Down so that Managers/Supervisors can change the owner of an open item"
Convert the Owners field to a Drop Down. This will allow Managers AND/OR Supervisor to change who the owner of an item open in the issues database is. This will be beneficial when an item is opened to an incorrect person or if someone leaves the group then we can easily change the owner without having to manually do this in the SQL server table. This function should only be allowed at the Managers

[2020-10-30 13:40] Pawel062 opened #104 "Add a Duplicate Status to the Status categories"
Add a new Status of 'Duplicate' to the categories of Statuses we can enter. At times a duplicate item can be opened within the database. We would like to be able to mark these items as a Duplicate and put the reason why it is considered a duplicate. It makes it easier then to know why the item was closed and which other item was the duplicate.

[2020-12-22 22:36] Pawel062 opened #105 "Counts in Interim DB dont show how many pages marked as can't verify."
When you mark pages as can’t verify they don’t count toward the statistic of how many are verified because this query counts how many have been verified (pass or re-verify) and this is displayed along with  the total amount of pages with tracking numbers. This might be confusing to some because it looks like we have 3 pages left to verify when really they have been verified but were marked as can’

[2020-12-22 22:37] Pawel062 opened #106 "Assignment are not saving when adding a new source in blank sources form"
There is a small bug with the blank sources page where when you write in the source for a scenario that did not have a source, the person you assign it to is not saved in the assignments table. The work around is to write in the source and then go to the assignment page to assign someone to this new source. Mike is working on fixing this issue. Example below shows we added 2 new sources DOT and DO

[2021-01-07 21:50] Pawel062 opened #107 "Count Amount of Pages assigned to a Person based on the current Assigned Scenario"
A form is needed that will count the amount of pages a person will have to verify based on what they are currently assigned. This should be report that can run from the Assignments page so that when we are assigning scenarios based on the Source, we can see how many pages that person will have to verify. This will allow us to better spread out the scenarios between the team and more efficiently co

[2021-01-08 13:34] Pawel062 commented on #98
Reports have been updated and are now pulling data.

[2021-01-08 13:34] #98 closed, assigned to mikey2695, brcox90, qdd8jtl, tcoma-ups, carrubba24, NickD0w

[2021-01-08 13:34] Pawel062 commented on #99
Interim Counts updated to a per Page count and verified.

[2021-01-08 13:34] #99 closed, assigned to mikey2695, brcox90, qdd8jtl, tcoma-ups, carrubba24, NickD0w

[2021-01-08 13:35] Pawel062 commented on #100
Item has been fixed. It displays the name of the person who checked it off as help.

[2021-01-08 13:35] #100 closed, assigned to mikey2695, brcox90, qdd8jtl, tcoma-ups, carrubba24, NickD0w

[2021-01-08 13:36] Pawel062 commented on #101
Issue has been fixed. You must make update before we close item.

[2021-01-08 13:36] #101 closed, assigned to mikey2695, qdd8jtl, Pawel062

[2021-01-08 13:37] Pawel062 commented on #105
Can't Verify count has been added.

[2021-01-08 13:37] #105 closed, assigned to mikey2695, carrubba24, Pawel062

[2021-01-08 13:37] Pawel062 commented on #106
Item has been fixed. The assignment is now saving.

[2021-01-08 13:37] #106 closed, assigned to mikey2695, carrubba24, Pawel062

[2021-01-08 13:40] Pawel062 commented on #96
Item has been fixed. You are not forced to the top of the page anymore.

[2021-01-08 13:40] #96 closed, assigned to mikey2695, brcox90, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w, milleniumchilld

[2021-01-29 14:07] Pawel062 opened #108 "Add Implementation to the Impact Type drop down"
Add Implementation  to the Impact Type drop down so we can categorize items as being issues from the implementation or items that we are working on that are related to the current implementation.

[2021-01-29 14:10] Pawel062 opened #109 "Add ER/RFC Field in the Edit/View Records and Review forms"
Add an ER/RFC # Field to the Edit/View Records form and the other forms we use for reviewing issues. This will allow us to attach a ER/RFC # that is related to the issue opened. This will aid us in research later when we need to find how a function works or how an item was implemented.

[2021-02-05 14:14] Pawel062 opened #110 "My Talent Report inaccurate"
When the my talent report was ran for this year. It looks like the statistics are not showing correctly based on the excel sheet. We need to check the queries and see if they are accurate or if something is not working correctly.

[2021-02-05 14:16] Pawel062 opened #111 "UAD Audit Database"
In order to assist with Quarterly Audits, it would be beneficial to the team to create an audit database that would allow us to run through the excel sheets we receive every other quarter. This would be modeled off the old Access database but enhanced and expanded so that it will work with all systems.

[2021-02-09 16:10] Pawel062 opened #112 "Enhance MyTalent EOY report"
Add in a popup to select the Year for which the Report is ran
Add in a system field to the Aging Extract tab

[2021-02-15 15:14] Pawel062 commented on #110
Minor fixes to code have been completed and report has been run.

[2021-02-15 15:14] #110 closed, assigned to mikey2695, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w

[2021-02-25 16:23] ops1txj commented on #108
I worked with Mike on adding the status of implementation to all forms with Impact Type fields in the Issues Database.  The status of "Implementation" has been added to every occurrence of the "Impact Type" on all forms in test.  Currently waiting on the upload of the enhancement to the production database.

[2021-02-25 20:03] Pawel062 commented on #108
Good job Tammy! Once it is implemented we can close this out.

[2021-02-26 15:00] mikey2695 commented on #108
This was looked over and implemented

[2021-02-26 15:00] #108 closed, assigned to mikey2695, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w

[2021-03-29 18:50] carrubba24 opened #113 "Add 'AIP' as a Value for System Impacted"
To address AIP specific issues, User is requesting we add 'AIP' to the System Impacted list, & Assign all items to Dom.

[2021-04-09 12:41] NickD0w commented on #111
Design Document in progress:

- Checkpoint meeting completed 4/2/21
- General format and flow design is good
- Upfront design elements and specific attributes to TBD.

[UAD Audit Compiler Application Design.docx](https://github.com/CIMDBORG/CIMMigrationProject/files/6285787/UAD.Audit.Compiler.Application.Design.docx)

[2021-08-27 12:38] Pawel062 commented on #109
Upon exploring this enhancement, we will also need to add this to the add new form in addition to all the edit/review forms.

[2021-09-30 19:47] Pawel062 commented on #104
During our discussion of this enhancement on 9/30 @tcoma-ups had the idea to move this to a check box instead of a drop down. Tau, Sophia, and Mike F worked on coding this change on 9/30 and it will go into test shortly

[2021-09-30 19:49] Pawel062 commented on #113
Discussed this change on 9/30. @carrubba24 and @NickD0w completed coding on 9/30 and we will be implementing into test shortly.

[2021-10-15 12:44] NickD0w opened #114 "Add a System field to the Aging Extract tab"

[2021-11-12 13:26] carrubba24 opened #115 "Support Hyperlinks for TFS in Weekly Review / Edit View"
Just an idea for the Issue View Screens, whether it's built on the BC/TI # Field or a new field created.

It would be very convenient if Users are able to open their items in TFS through the Database screens in order to close, reassign, or update Issues / Defects/ Features.

In TFS, there is an 'email work item' option which creates a hyperlink out of the TFS #.
![image](https://user-images.github

[2021-11-19 13:35] Pawel062 commented on #104
Changes made to database on 11/18 and no issues found at this time.

[2021-11-19 13:35] #104 closed, assigned to mikey2695, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w, milleniumchilld

[2021-11-19 13:36] Pawel062 commented on #107
This has been implemented and in use with recent interim verifications.

[2021-11-19 13:36] #107 closed, assigned to mikey2695, carrubba24, Pawel062, ellenculp

[2021-11-30 15:14] tcoma-ups opened #116 "Replace all HDFS terminology in DB with SMC"
HDFS has since been sunsetted and we have moved to SMC.

[2021-12-10 13:39] Pawel062 commented on #114
currently in test database

[2021-12-10 13:40] Pawel062 commented on #103
Tau and I sent code for this change this week. Waiting for coding to be completed.

[2021-12-10 13:52] carrubba24 commented on #113
Change has been implemented & verified.

[2021-12-17 13:37] #113 closed, assigned to nobody

[2021-12-17 13:38] carrubba24 commented on #113
Change has been implemented & verified.

[2022-02-18 14:38] Pawel062 commented on #114
Changes have been implemented to production

[2022-02-18 14:38] #114 closed, assigned to nobody

[2022-02-18 14:38] Pawel062 commented on #116
Changes have been implemented to production

[2022-02-18 14:38] #116 closed, assigned to mikey2695, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w

[2022-02-18 14:38] Pawel062 commented on #103
Changes have been implemented to production

[2022-02-18 14:38] #103 closed, assigned to mikey2695, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w, milleniumchilld

[2022-02-18 14:39] Pawel062 commented on #115
Changes have been implemented to production

[2022-02-18 14:39] #115 closed, assigned to nobody

[2022-02-25 13:37] #23 closed

[2022-02-25 13:37] #89 closed, assigned to nobody

[2022-03-28 14:53] carrubba24 commented on #111
Team,

The Audit DB's Percent Complete Query has been verified & saved under CAB_DB.

[Audit DB Percent Complete.txt](https://github.com/CIMDBORG/CIMMigrationProject/files/8363896/Audit.DB.Percent.Complete.txt)

[2022-04-04 21:04] carrubba24 opened #117 "New Issue Form Crashes when 'Requested By' Field is Blank"
With the new data elements in the 'new issue' form, Users may mistakenly populate the 'Annual Benefit' field as the 'Requested By'

When the 'Requested By' field is not populated, the App crashes during submit & does not retain any of the data keyed.

[2022-04-04 21:04] carrubba24 commented on #117
![image](https://user-images.githubusercontent.com/59064371/161631979-ec88d4a2-13d0-4231-a587-e98290e0a4f4.png)

[2022-04-15 12:35] carrubba24 commented on #117
Issue has been resolved & Implemented.

[2022-04-15 14:45] Pawel062 commented on #109
implemented into production

[2022-04-15 14:45] #109 closed, assigned to mikey2695, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w

[2022-04-22 12:36] Pawel062 commented on #112
System field was added. Year item is a nice time have so we can close this.

[2022-04-22 12:36] #112 closed, assigned to mikey2695, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w

[2022-04-22 12:36] #117 closed, assigned to nobody

[2022-04-22 12:37] Pawel062 commented on #95
[](url)

[2022-04-22 12:37] #95 closed, assigned to mortii09, brcox90, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w

[2022-06-03 12:38] Pawel062 commented on #92
Currently testing in Test Database.

[2022-06-22 21:05] Pawel062 commented on #92
This has been implemented into production but it somehow broke the save function where it prompts you if you want to save changes to the last item in your issues listing. Leaving this open while the issue is being fixed.

[2022-09-02 12:36] Pawel062 commented on #92
fix has been implemented.

[2022-09-02 12:36] #92 closed, assigned to mortii09, mikey2695, brcox90, qdd8jtl, tcoma-ups, carrubba24, Pawel062, NickD0w